<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="navbar navbar-fixed-top navbar-inverse">

  <div class="container">

	  <ul class="nav navbar-nav navbar-left">
		  <span style="color:white; font-size:20px">Bookers</span>
	  </ul>

	  <ul class="nav navbar-nav navbar-right", style="margin:15px">
			<div class="row">
				<div class="col-xs-12">
		  <% if user_signed_in? %>
			  <%= link_to(user_path(current_user.id)) do %>
			  <li class="glyphicon glyphicon-home home">Home</li>
			  <% end %>
			  <%= link_to(users_path) do %>
			  <li class="glyphicon glyphicon-user users">Users</li>
			  <% end %>
			  <%= link_to(books_path) do %>
			  <li class="glyphicon glyphicon-edit sign_up">Books</li>
			  <% end %>
			  <%= link_to(destroy_user_session_path,method: :delete) do %>
			  <li class="glyphicon glyphicon-log-in sign_in">logout</li>
			  <% end %>


		  <% else %>
			  <%= link_to(root_path) do %>
			  <li class="glyphicon glyphicon-home home">Home</li>
			  <% end %>
			  <%= link_to(about_index_path) do %>
			  <li class="glyphicon glyphicon-link link">About</li>
			  <% end %>
			  <%= link_to(new_user_registration_path) do %>
			  <li class="glyphicon glyphicon-edit sign_up">Books</li>
			  <% end %>
			  <%= link_to(new_user_session_path) do %>
			  <li class="glyphicon glyphicon-log-in sign_in">login</li>
			  <% end %>

		  <% end %>
				</div>
			</div>
	  </ul>
  </header>
  </div>

  <div class="body", style="margin-top:65px">
	  <div class="container">
	  <% if flash[:notice] %>
		  <%= flash[:notice] %>
	  <% end %>
	  </div>

	  <%= yield %>

  </div>

  <div class="container">
	  <div class="row">
		  <div class="col-xs-3 col-xs-offset-9">
			  <footer>CopyRight Infratop.inc</footer>
		  </div>
	  </div>
  </div>
  </div>

  </body>
</html>
